.git
.gitignore
.gitattributes
node_modules
npm-debug.log
yarn-error.log
public/build
public/hot
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/testing
storage/framework/views
bootstrap/cache
.env
.env.*
!.env.example
*.md
.editorconfig
docker
tests
phpunit.xml
.phpunit.cache
.phpunit.result.cache
.phpactor.json
